﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Maestra.master.cs" Inherits="CursosWeb.Maestra" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <title>Solución Cursos</title>
</head>
<body>
    <form id="form1" runat="server">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="<%= Page.ResolveUrl("~/Default.aspx") %>">Solución Cursos</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="<%= Page.ResolveUrl("~/Default.aspx") %>">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <% if (Context.User.Identity.IsAuthenticated)
                       { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Formularios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/Estudiantes/WebFormListarEstudiantes.aspx") %>">Listar Estudiante</a>
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/Estudiantes/WebFormEstudiante.aspx") %>">Crear Estudiante</a>
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/Departamentos/WebFormListarDepartamentos.aspx") %>">Listar Departamentos</a>
                            <a class="dropdown-item" href="<%= Page.ResolveUrl("~/Departamentos/WebFormDepartamento.aspx") %>">Crear Departamento</a>
                        </div>
                    </li>
                    <%} %>
                </ul>

                <asp:LoginView ID="lvUsuario" runat="server" ViewStateMode="Disabled">
                    <AnonymousTemplate>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="<%= Page.ResolveUrl("~/Usuarios/WebFormRegistrar.aspx") %>">Registrar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="<%= Page.ResolveUrl("~/Usuarios/WebFormLogin.aspx") %>">Iniciar Sesión</a>
                            </li>
                        </ul>
                    </AnonymousTemplate>
                    <LoggedInTemplate>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Hola, <%: Context.User.Identity.Name %></a>
                            </li>
                            <li class="nav-item">
                                <asp:LoginStatus runat="server" CssClass="nav-link" ID="lgsCerrarSesion" LogoutAction="Redirect" LogoutText="Cerrar sesión" LogoutPageUrl="~/" OnLoggingOut="lgsCerrarSesion_LoggingOut"/>
                            </li>
                        </ul>
                    </LoggedInTemplate>
                </asp:LoginView>

            </div>
        </nav>

        <div class="container">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>

    <script src="<%= Page.ResolveUrl("~/Scripts/jquery-3.4.1.js") %>"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/popper.js") %>"></script>
    <script src="<%= Page.ResolveUrl("~/Scripts/bootstrap.js") %>"></script>
</body>
</html>
