﻿body {
    background-color: #b2bee2;
    font-family: 'Montserrat', sans-serif;
}

/*Comentario*/

h1 {
    text-align: center;
    color: #2d499f;
}

p {
    font-size: 18px;
}

    p.punteado {
        border-style: dotted;
    }

    p.minuscula {
        text-transform: lowercase;
    }

    p.mayuscula {
        text-transform: uppercase;
    }

    p.capitalize{
        text-transform: capitalize;
    }

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #2d499f;
    padding: 6px;
}
