﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="WebFormOtro.aspx.cs" Inherits="WA_Bootstrap.WebFormOtro" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Otro formulario desde la Master</h1>
</asp:Content>
