﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Maestra.Master" AutoEventWireup="true" CodeBehind="WebFormGenerarLog.aspx.cs" Inherits="WA_Bootstrap.WebFormGenerarLog" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:Button ID="btnGenerarError" runat="server" Text="Generar Error" OnClick="btnGenerarError_Click"/>
</asp:Content>

